<nav class="navbar navbar-expand-lg">
    <div class="container-fluid ">
      <a class="navbar-brand" >Noxe</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul  class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li *ngIf="login"  class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>
          <li *ngIf="login"  class="nav-item">
            <a class="nav-link active" routerLink="tv">tv</a>
          </li>
          <li *ngIf="login"  class="nav-item">
            <a class="nav-link active" routerLink="pepol">Pepol</a>
          </li>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
             Setting
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="setting/hr" >Hr</a></li>
              <li><a class="dropdown-item" routerLink="setting/profile" >Profile</a></li>
              
            </ul>
          </div>
        </ul>
       <div>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter px-3"></i>
        <span  *ngIf="!login" class="px-3 login" routerLink="login">Login</span>
        <span *ngIf="!login" class="px-3 login" routerLink="register" >Rigister</span>
        <span (click)="logout()" *ngIf="login" class="login">LogOut</span>
    </div>
    
      </div>
    </div>
  </nav>
